## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('STRESS.csv')
df.head()

,snoring rate,respiration rate,body temperature,limb movement,blood oxygen,retina eye movement,sleeping rate,heart rate,stress level
0,93.80,25.680,91.840,16.600,89.840,99.60,1.840,74.20,3.0
1,91.64,25.104,91.552,15.880,89.552,98.88,1.552,72.76,3.0
2,60.00,20.000,96.000,10.000,95.000,85.00,7.000,60.00,1.0
3,85.76,23.536,90.768,13.920,88.768,96.92,0.768,68.84,3.0
4,48.12,17.248,97.872,6.496,96.248,72.48,8.248,53.12,0.0

In [3]:
# sr-sleeping rate
# rr-heart rate
# t-temperature
# lm-lib movement
# bo-body mass
# rem-retina eye movement
# sr1-snoring rate
# hr- sleeping hours
# sl-stress level

In [4]:
df.tail()

,snoring rate,respiration rate,body temperature,limb movement,blood oxygen,retina eye movement,sleeping rate,heart rate,stress level
12592,98.624,28.624,88.280,18.312,85.936,103.28,0.000,81.56,4.0
12593,98.400,28.400,88.000,18.200,85.600,103.00,0.000,81.00,4.0
12594,91.880,25.168,91.584,15.960,89.584,98.96,1.584,72.92,3.0
12595,64.800,20.480,92.480,10.480,90.480,87.40,2.720,61.20,2.0
12596,48.440,17.376,98.064,6.752,96.376,73.76,8.376,53.44,0.0

In [5]:
df.describe()

,snoring rate,respiration rate,body temperature,limb movement,blood oxygen,retina eye movement,sleeping rate,heart rate,stress level
count,11784.000000,11784.000000,11784.000000,11784.000000,11784.00000,11784.000000,11784.000000,11784.000000,11784.000000
mean,71.425821,21.771906,92.834800,11.654905,90.93525,88.291229,3.740904,64.429766,1.983028
std,19.531026,4.010263,3.577811,4.354935,3.95238,12.101310,3.086956,10.025658,1.434017
min,45.000000,16.000000,85.000000,4.000000,82.00000,60.000000,0.000000,50.000000,0.000000
25%,51.840000,18.368000,90.476000,8.368000,88.47600,80.920000,0.476000,55.920000,1.000000
50%,69.600000,20.960000,93.040000,10.960000,91.04000,89.800000,3.560000,62.400000,2.000000
75%,91.520000,25.072000,95.632000,15.840000,94.44800,98.840000,6.632000,72.680000,3.000000
max,100.000000,30.000000,99.000000,19.000000,97.00000,105.000000,9.000000,85.000000,4.000000

In [6]:
df.shape

(12597, 9)

In [7]:
df.size

113373

In [8]:
df.columns

Index(['snoring rate', 'respiration rate', 'body temperature', 'limb movement',
       'blood oxygen', 'retina eye movement', 'sleeping rate', 'heart rate',
       'stress level'],
      dtype='object')

In [9]:
df.isnull().sum()

snoring rate           813
respiration rate       813
body temperature       813
limb movement          813
blood oxygen           813
retina eye movement    813
sleeping rate          813
heart rate             813
stress level           813
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df['stress level'].unique()

array([3., 1., 0., 2., 4.])

In [12]:
df.describe()

,snoring rate,respiration rate,body temperature,limb movement,blood oxygen,retina eye movement,sleeping rate,heart rate,stress level
count,11784.000000,11784.000000,11784.000000,11784.000000,11784.00000,11784.000000,11784.000000,11784.000000,11784.000000
mean,71.425821,21.771906,92.834800,11.654905,90.93525,88.291229,3.740904,64.429766,1.983028
std,19.531026,4.010263,3.577811,4.354935,3.95238,12.101310,3.086956,10.025658,1.434017
min,45.000000,16.000000,85.000000,4.000000,82.00000,60.000000,0.000000,50.000000,0.000000
25%,51.840000,18.368000,90.476000,8.368000,88.47600,80.920000,0.476000,55.920000,1.000000
50%,69.600000,20.960000,93.040000,10.960000,91.04000,89.800000,3.560000,62.400000,2.000000
75%,91.520000,25.072000,95.632000,15.840000,94.44800,98.840000,6.632000,72.680000,3.000000
max,100.000000,30.000000,99.000000,19.000000,97.00000,105.000000,9.000000,85.000000,4.000000

In [13]:
df.corr()

,snoring rate,respiration rate,body temperature,limb movement,blood oxygen,retina eye movement,sleeping rate,heart rate,stress level
snoring rate,1.000000,0.976909,-0.905068,0.981565,-0.906042,0.950692,-0.922930,0.976909,0.976127
respiration rate,0.976909,1.000000,-0.891146,0.991743,-0.891550,0.936114,-0.894757,1.000000,0.964321
body temperature,-0.905068,-0.891146,1.000000,-0.898095,0.998116,-0.858142,0.956006,-0.891146,-0.962952
limb movement,0.981565,0.991743,-0.898095,1.000000,-0.900775,0.965360,-0.903692,0.991743,0.971772
blood oxygen,-0.906042,-0.891550,0.998116,-0.900775,1.000000,-0.863685,0.951339,-0.891550,-0.961952
retina eye movement,0.950692,0.936114,-0.858142,0.965360,-0.863685,1.000000,-0.895100,0.936114,0.951998
sleeping rate,-0.922930,-0.894757,0.956006,-0.903692,0.951339,-0.895100,1.000000,-0.894757,-0.973863
heart rate,0.976909,1.000000,-0.891146,0.991743,-0.891550,0.936114,-0.894757,1.000000,0.964321
stress level,0.976127,0.964321,-0.962952,0.971772,-0.961952,0.951998,-0.973863,0.964321,1.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11784 entries, 0 to 12596
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   snoring rate         11784 non-null  float64
 1   respiration rate     11784 non-null  float64
 2   body temperature     11784 non-null  float64
 3   limb movement        11784 non-null  float64
 4   blood oxygen         11784 non-null  float64
 5   retina eye movement  11784 non-null  float64
 6   sleeping rate        11784 non-null  float64
 7   heart rate           11784 non-null  float64
 8   stress level         11784 non-null  float64
dtypes: float64(9)
memory usage: 920.6 KB

In [15]:
pd.crosstab(df["respiration rate"], df["stress level"])

stress level      0.0  1.0  2.0  3.0  4.0
respiration rate
16.000             20    0    0    0    0
16.016             20    0    0    0    0
16.032             20    0    0    0    0
16.048             20    0    0    0    0
16.064             22    0    0    0    0
...               ...  ...  ...  ...  ...
29.872              0    0    0    0   19
29.904              0    0    0    0   20
29.936              0    0    0    0   19
29.968              0    0    0    0   19
30.000              0    0    0    0   19

[626 rows x 5 columns]

In [16]:
df["stress level"].value_counts()

0.0    2521
4.0    2403
2.0    2322
3.0    2287
1.0    2251
Name: stress level, dtype: int64

In [17]:
pd.Categorical(df["sleeping rate"]).describe()

            counts     freqs
categories
0.0           2422  0.205533
0.016           18  0.001527
0.032           18  0.001527
0.048           18  0.001527
0.064           18  0.001527
...            ...       ...
8.936           20  0.001697
8.952           20  0.001697
8.968           20  0.001697
8.984           20  0.001697
9.0             20  0.001697

[501 rows x 2 columns]

In [18]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12592     True
12593     True
12594     True
12595     True
12596     True
Length: 11784, dtype: bool

In [19]:
df = df.drop_duplicates()

In [20]:
sum(df.duplicated())

0